/*basic reset*/
* {
  margin: 0;
  padding: 0;
}
/*adding a black bg to the body to make things clearer*/
body {
  background: black;
}
canvas {
  display: block;
}
.record-button {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  display: none;
}
body:hover .record-button {
  display: block;
  background: #ffffff;
}
